.App {
  height: inherit;
  
  width: 100%;
  height: 100%;
  padding: 5em 10%;
}

.show-must-be-here{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (max-width : 1024px){
  .App{
    padding: 5em 0;
  }
}

