@import "../../SCSS/marking.scss";
@import "../../SCSS/form.scss";


.registration{
    background-color: #fff;
}

.registration__sign{
    width: 100%;
    text-align: center;
    color: #dfdfdf;
}

.registration__sign a{
    color: #dfdfdf;
}


